.container{
    display: flex;
    align-items: center;
    gap: 10px;
<<<<<<< HEAD
    background: #2e374a;
    padding: 10px;
    border-radius: 10px;
=======
    background-color: #2e374a;
    padding: 10px;
    border-radius:10px;
>>>>>>> 1ed36fcf8b27ab3bfdcdcdff174348e421a3eb38
    width: max-content;
}

.input{
<<<<<<< HEAD
    background: transparent;
=======
    background-color: transparent;
>>>>>>> 1ed36fcf8b27ab3bfdcdcdff174348e421a3eb38
    border: none;
    color: var(--text);
    outline: none;
}