.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titlep{
    padding-top: 30px;
    font-size: 20px;
    color: var(--textSoft);
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}