.container {
  position: sticky;
  top: 40px;
}

.user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
}

.userImage {
  border-radius: 50%;
  object-fit: cover;
}

.userDetail {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.userName{
  font-weight: 500;
}

.userTitle {
  font-size: 12px;
  color: var(--textSoft);
}

.list {
  list-style: none;
}

.cat {
  font-weight: bold;
  color: var(--textSoft);
  font-size: 13px;
  margin: 10 0px;
}

.logout {
  cursor: pointer;
  padding: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 5px 0px;
  border-radius: 10px;
  background: none;
  color: white;
  border: none;
  width: 100%;
}

.logout:hover {
  background-color: var(--bg);
}
