.containerMain {
    background-color: var(--bgSoft);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.addButon {
    background-color: #5d57c9;
    padding: 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
    transition: all 300ms;

}

.addButon:hover {
    background-color: var(--bg);
}

.table {
    width: 100%;
}

.table td {
    padding: 10px;
}

.user {
    display: flex;
    align-items: center;
    gap: 10px;
}

.userImage {
    border-radius: 50%;
    object-fit: cover;
}

.status {
    border-radius: 5px;
    padding: 5px;
    font-size: 14px;
    color: white;
}

.active {
    background-color: green;
}

.inactive {
    background-color: red;
}

.button {
    padding: 5px 10px;
    border-radius: 5px;
    color: var(--text);
    border: none;
    cursor: pointer;
    transition: all 300ms;
}

.button:hover {
    background-color: var(--bg);
}

.view {
    background-color: teal;
}

.cat {
    font-size: 16px;
    font-weight: bold;
}